@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap")

@font-face
  font-family: "Bolina Local"
  src: url("/font/Bolina.otf") format("opentype")
  font-weight: 400
  font-style: normal
  font-display: swap

.overview .author .name
  font-family: "Bolina Local", "STKaiti", "KaiTi", cursive
  font-style: normal

.overview .author .description
  font-family: "Imperial Script", "STKaiti", "KaiTi", cursive
  font-style: normal
