@font-face
  font-family: "Sour Gummy"
  src: url("/font/SourGummy-VariableFont_wdth,wght.ttf") format("truetype")
  font-weight: 400
  font-style: normal
  font-display: swap

@font-face
  font-family: "Imperial Script"
  src: url("/font/ImperialScript-Regular.ttf") format("truetype")
  font-weight: 400
  font-style: normal
  font-display: swap

@font-face
  font-family: "ComicNeue-Bold"
  src: url("/font/ComicNeue-BoldItalic.ttf") format("truetype")
  font-weight: 700
  font-style: italic
  font-display: swap
@font-face
  font-family: "ComicNeue-Light"
  src: url("/font/ComicNeue-LightItalic.ttf") format("truetype")
  font-weight: 700
  font-style: italic
  font-display: swap
@font-face
  font-family: "ComicNeue-Normal"
  src: url("/font/ComicNeue-Bold.ttf") format("truetype")
  font-weight: 700
  font-style: normal
  font-display: swap
#sidebar .overview .author
  .name
    font-family: "ComicNeue-Light", "STKaiti", "KaiTi", cursive
    font-style: italic
    font-weight: 700
    font-size: 140%
  .description
    font-family: "Imperial Script", "STKaiti", "KaiTi", cursive
    font-style: normal
    font-size: 170%

.md :not(pre) > code
  background-color: rgba(233, 200, 221, .3)
  color: #d84a4a
  padding: .15em .4em
  border-radius: .35em
